*, *::before, *::after {
    box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif;
}

.w3-third img {
    margin-bottom: -6px;
    opacity: 0.8;
    cursor: pointer;
}

.modal-img-display {
    max-width: 55%;
}
.w3-third .apply-filters {
    filter: brightness(1.7) contrast(0.8);
}

.w3-third img:hover {
    opacity: 1;
}
.sub-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.work-inner-wrapper {
    transform: scale(0.96);
}
.work-inner-wrapper:hover {
    transform: scale(1.04);
    transition: 0.3s;
}
